@import "tailwindcss";

:root{
    --primary-color: #a58a11;
    --secondary-color: #d91f04;
    --top-banner-bg: #3d2223;
    --text-main-color: #fff;
}

.container{
    max-width: 1440px;
    width: 100%;
    margin-inline: auto;
    padding-inline: 80px;
    border: 1px solid black;
}

footer a{
    font-size: 0.8rem;
}